

.container-fluid {
  margin: 0 auto;
  
  padding: 0;
}

/* #Header */

.header{
  height: 10vh;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 0 12px 6px 12px;
  
}





/* Product */



img{
  object-fit: contain;
}

/* footer */

.footer{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* login */

.loginHolder{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.blockCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}