

.container-fluid {
  margin: 0 auto;
  
  padding: 0;
}

/* #Header */

.header{
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

/* Product */



img{
  object-fit: contain;
}